@model BlogAddModel
<form method="post" asp-action="Create" class="p-3" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription"></label>
        <input asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input class="form-control-file" type="file" asp-for="Image" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-info">Kaydet</button>
    </div>
</form>