@model List<BlogListModel>

<a href="" class="btn btn-info btn-sm">Yeni Blog Yaz</a>
<table class="table table-bordered table-hover">
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.Title</td>
                <td>
                    <a href="">Düzenle</a>
                    <a href="">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>