@model CategoryListModel
<div class="border border-dark p-3 mb-2">
    Şu anda kategorisi <strong> @Model.Name </strong>olan blogları görüyorsunuz<a asp-action="Index" class="float-right">Filtreyi kaldır</a>

</div>