@model AppUserLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Giriş</title>
    <link href="/css/simplex.css.css" rel="stylesheet" />
</head>
<body>
    <form action="SignIn" method="post" class="w-50 mt-5 p-3 mx-auto shadow">
        @*mt-4 yukarıdan 4 brim boşluk bıraksın-mx-auto ortalatmak demek*@
    <div class="form-group">
        <label for="UserName">Kullanıcı Adı:</label>
        <input asp-for="UserName" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Şifre :</label>
        <input asp-for="Password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info btn-block">Giriş Yap</button>
    </div>
</form>
</body>
</html>
