@model List<BlogListModel>
@foreach (var blog in Model)
{
<div class="card mb-4">
    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">@blog.Title</h2>
        <p class="card-text">@blog.ShortDescription</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on @blog.PostedTime.ToLongTimeString()
    </div>
</div>
}


